<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Permisos y Vacaciones</title>
    <link rel="icon" type="image/svg+xml" href="../../images/talentrack_small.svg">
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/script.js" defer></script>
    <!-- Boxicons -->
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="layout">
        <!-- Menu -->
         <aside class="sidebar" id="sidebar">
            <!-- Logo del sidebar -->
            <div class="sidebar-logo">
                <img src="../../images/talentrack_small.svg" alt="Logo Pequeño" class="logo-small" />
                <img src="../../images/talenTrackLogo_SVG.svg" alt="Logo TalentTrack" class="logo-large" />
            </div>
            
            <div class="sidebar-top">
                <div class="sidebar-item" data-tooltip="Inicio" onclick="window.location.href='InicioEmpleado.html'">
                    <i class='bx bxs-home sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Inicio</span>
                </div>
                <div class="sidebar-item" data-tooltip="Notificaciones" onclick="window.location.href='notificaciones.html'">
                    <i class='bx bxs-bell sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Notificaciones</span>
                </div>
                <div class="sidebar-item" data-tooltip="Asistencia" onclick="window.location.href='asistencia.html'">
                    <i class='bx bx-check sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Asistencia</span>
                </div>
                <div class="sidebar-item" data-tooltip="Calendario" onclick="window.location.href='calendario.html'">
                    <i class='bx bxs-calendar sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Calendario</span>
                </div>
                <div class="sidebar-item active" data-tooltip="Permisos y Vacaciones">
                    <i class='bx bxs-umbrella sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Permisos y Vacaciones</span>
                </div>
                <div class="sidebar-item" data-tooltip="Mis KPIs" onclick="window.location.href='miskpis.html'">
                    <i class='bx bxs-bar-chart-big sidebar-icon-box' style='color:#d51e37'></i>
                    <span>Mis KPIs</span>
                </div>
            </div>

            <div class="sidebar-bottom">
                <div class="sidebar-item" data-tooltip="Ayuda">
                    <i class='bx bx-help-circle sidebar-icon-box' style='color:#495057'></i>
                    <span>Ayuda</span>
                </div>
                <div class="sidebar-item" data-tooltip="Perfil">
                    <i class='bx bxs-user-circle sidebar-icon-box' style='color:#495057'></i> 
                    <span>Perfil</span>
                </div>
                <div class="sidebar-item logout" data-tooltip="Cerrar Sesión">
                    <i class='bx bxs-door-open sidebar-icon-box' style='color:#d51e37'></i> 
                    <span>Cerrar Sesión</span>
                </div>
            </div>
        </aside>
    </div>
</body>
</html>